/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root{
        --navbar-height : 0px;
        --header-height : 68px;
    }
    .hide-on-mobile-tablet{
        display: none
    }
    .header__cart-list{
    position: fixed;
    right: 0px;
    width: 380px;
    top: var(--header-top);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3px #ccc;
    display: none;
    animation: headerNotifyGrow ease-in 0.2s;
    will-change: opacity transform;
    transform-origin: top right;
    cursor: default;
    z-index: 1;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none
    }
    .header__cart{
        width: 80px;
        text-align: right;
    }
    .header__cart-view{
        text-align: center
    }
}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none
    }
}